<p id="notice">
	<%= notice %>
</p>

<div>
	<h5><%= link_to '+ Create New Group', new_group_path %></h5>
</div>
<%= render "invites"%>

<div class="header">
	<div class="left">
		<%= @group.name %> | Members
	</div>
	<div class="right">
		<% if @group_owner %>
		<%= form_tag @group, method: "delete", data: { confirm: 'Are you sure?' } do %>
		<%= link_to 'Edit', edit_group_path(@group) %>
		<%= submit_tag "Delete"%>
		<% end %>
		<%= form_tag(invite_users_to_group_path(@group), method: "post", :id => "form") do %>
		<div id="magicsuggest"></div>
		<div id="input">
			<input type="text" name="users[]" id="ms" placeholder="Add Users">
			</input>
			<%= submit_tag "Invite", :id => "submit" %>
		</div>
		<% end %>
		<% elsif @group_member %>
		<%= form_tag unsubscribe_user_from_group_path(@group), method: "post", data: { confirm: 'Are you sure?' } do %>
		<%= submit_tag "Unsubscribe"%>
		<% end %>
		<% elsif @invite %>
		<%= form_tag accept_invite_to_group_path(@group, current_user), method: "put" do %>
		<%= submit_tag "Accept"%>
		<% end%>
		<% end %>
	</div>
</div>

<div class="body">
	<p>
		<strong>Group Owner:</strong>
		<%= @group.user.name %>
	</p>
	<p>
		<strong>Members</strong>
		<br />
		<% @accepted_members.each do |user| %>
		<%= user.name %>
		<% if @group_owner && @group_owner != user %>
		<%= link_to 'Remove', remove_user_from_group_path(@group, user), method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
		<br />
		<% end %>
	</p>
	<p>
		<% unless @pending_members.empty? %>
		<strong>Pending invitations</strong>
		<br />
		<%end%>
		<% @pending_members.each do |user| %> <!-- TODO: Dry out this code -->
		<%= user.email %>
		<% if @group_owner && @group_owner != user %>
		<%= link_to 'Cancel', cancel_invite_to_user_from_group_path(@group, user), method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
		<br />
		<% end %>
	</p>

	<div class="timeline">
		<div class="links">
			<%= render(:partial => "bookmarks/user_links") %>
		</div>
	</div>

</div>