<p id="notice">
	<%= notice %>
</p>

<p>
	<strong>Group Name:</strong>
	<%= @group.name %>
<p>
<p>
	<strong>Group Owner:</strong>
	<%= @group.user.email %>
<p>
	<strong>Members</strong>

	<div>
		<%= form_tag(add_users_to_group_path(@group), method: "post", :id => "form") do %>
		<div id="magicsuggest"></div>
		<div id="input">
			<input type="text" name="users[]" id="ms" placeholder="Add Users">
			</input>
			<%= submit_tag "Invite", :id => "submit" %>
		</div>
		<% end %>
	</div>

	<% @group.users.each do |user| %>
	<%= user.email %>
	<% if @group_owner && @group_owner != user %>
	<%= link_to 'Remove', remove_user_from_group_path(@group, user), method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
	<br />
	<% end %>
</p>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
