<%= content_for :center do%>
<div id='groups-content'>
	<%= render_navigation :context => :group_menu%>
	<div id='filler'>
		&nbsp;
	</div>

	<div>
		<strong>Group Owner:</strong>
		<%= @group.user.name %>
	</div>

	<div class='textbox'>
		<%= form_tag(invite_users_to_group_path(@group), method: "post", :id => "form") do %>
		<div id="magicsuggest"></div>
		<input type="text" name="users[]" id="ms" placeholder="Add Users">
		</input>
		<%= submit_tag "Invite", :id => "submit" %>
		<%end%>
	</div>

	<div class="timeline">
		<div class='textbox'>
			<h4>Shares</h4>
			<%= form_tag(saveurl_for_group_share_path(@group), method: "post", remote: true) do %>
			<%= text_field_tag(:url, nil, {placeholder: "Paste the URL here..."}) %>
			<%= submit_tag("Share", class:"btn") %>
			<% end %>
		</div>

		<div class="links">
			<%= render(:partial => "bookmarks/user_links") %>
		</div>

	</div>

</div>
</div>
<% end %>
