<%= hidden_field_tag(:url_id, @bookmark.url.id) %>
<%= hidden_field_tag(:bookmark_id, @bookmark.id) %>
<div>    
  <%= text_area_tag(:url, @bookmark.url.url, {placeholder: "Paste the URL here...", rows:3}) %>
</div>
<div>    
  <%= text_field_tag(:title, @bookmark.title, {placeholder: "Title"}) %>
</div>
<div>    
  <%= text_area_tag(:description, @bookmark.description, {placeholder: "Description"}) %>
</div>
<div>    
  <% 
    tags = ""
    comma = ""
   %>
  <% @bookmark.tags.each do |tag| %> 
    <% tags << comma + tag.tagname %>
    <% comma = ", " %>
  <%  end %>
  <%= text_field_tag(:tags, tags, {placeholder: "Tags"}) %>
</div>
