<div class="links-actions">
	<div class="links-user-info">
		<div class="left-user-info">
			<%= render "users/user_photo" %>
		</div>
		<div class="right-user-info">
			<%= link_to current_user.name, show_user_path(current_user) %>
		</div>		
		<div class="clear"></div>
	</div>
	<div class="links-form">
		<%= form_tag("/saveurl", method: "post", remote: true) do %>	
			<div class="links-form-url">	  
		  		<%= text_area_tag(:url, nil, {placeholder: "Paste the URL here..."}) %>
		  	</div>
		  	<div class="links-form-button">
				<%= submit_tag("Save", class:"btn") %>
			</div>
		<% end %>
	</div>	
</div>
