<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a href="#" class="brand">Links</a>
			<div class="nav-collapse">
				<ul class="nav">
				    <li>
				    	<%= link_to "Home", timeline_path %>
				    </li>
			        <li>
				    	<%= link_to "Groups", all_groups_path %>
			        </li>
			        <li>
			        	<a href="#"><%=current_user.email %></a>
			        </li>
				</ul>
				<ul class="nav pull-right">
					<li>
  						<%= link_to "Search", "#" %>
				    </li>
				    <li>
				    	<%= link_to "Edit Profile", edit_user_registration_path %>
				    </li>
			        <li>
			        	<%= link_to "Settings", "#"%>
			        </li>
			        <li>
			        	<%= link_to "Log Out", destroy_user_session_path, :method => :delete %>	
			        </li>
				</ul>
			</div>
		</div>
	</div>
</div>	
