<!DOCTYPE html>
<html>
<head>
  <title>Links</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if current_user %>
		<%= render "layouts/navbar" %>			
	<% end %>

	<div class="container">
		<div class="row">
			<div class="span6">
				<h1>Links</h1>
				<h4>A free, open-sourced online bookmarking service.</h4>
				Traditional bookmarking services do not allow storing information on private servers. The application should allow deploying a local server which is capable of the following for every user/client:
				<ul>
					<li>Bookmarking URLs</li>
					<li>Tagging the URLs</li>
					<li>Searching among the links</li>
					<li>Annotations for a given URL</li>
					<li>Multi-user</li>
					<li>Expose an API</li>
				</ul>
			</div>
			<div class="span6">
				<%= yield %>
			</div>			
		</div>
		<!--
		<div class="row">
			<% @page_plugins = PLUGIN_CONFIG['pages'] %>
			<% for page_plugin_key in @page_plugins.keys %>
				<%														
					page_plugin =  @page_plugins[page_plugin_key]														
					resource_point = page_plugin['resource_point']							
				%>
				<div>
					<% if page_plugin['enabled'] %>
						<%= render resource_point %>
					<% end %>
				</div>
			<% end %>
		</div>
		-->
	</div>
</body>
</html>
